In [ ]:
import pandas as pd
import numpy as np

## Handle Missing Data

In [ ]:
data = {
    "Name":['Ram',None,'shyam','Heet','Sunny','Karan','Smit','Raj'],
    "Age":[20,None,35,22,40,29,70,25],
    "Salary":[60000,None,20000,90000,45000,24000,99000,87000],
    "PerformanceScore":[85,None,90,80,45,98,59,69]
}

df = pd.DataFrame(data)
print(df)

print(df.isnull().sum())

## Dropna() method

In [ ]:
data = {
    "Name":['Ram',None,'shyam','Heet','Sunny','Karan','Smit','Raj'],
    "Age":[20,None,35,22,40,29,70,25],
    "Salary":[60000,None,20000,90000,45000,24000,99000,87000],
    "PerformanceScore":[85,None,90,80,45,98,None,69]
}

df = pd.DataFrame(data)

df.dropna(axis=0,inplace=True)
print(df)

## Fillna() method

In [ ]:
data = {
    "Name":['Ram',None,'shyam','Heet','Sunny','Karan','Smit','Raj'],
    "Age":[20,None,35,22,40,29,70,25],
    "Salary":[60000,None,20000,None,45000,24000,99000,87000],
    "PerformanceScore":[85,None,90,80,45,98,None,69]
}

df = pd.DataFrame(data)

df.fillna(0,inplace=True)
print(df)

df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Salary'].fillna(df['Salary'].mean(),inplace=True)
print(df)

## Interpolate() method

In [ ]:
data = {
    "Name":['Ram','Harsh','shyam','Heet','Sunny','Karan','Smit','Raj'],
    "Age":[20,np.nan,35,22,40,29,70,25],
    "Salary":[25000,np.nan,20000,np.nan,45000,24000,99000,87000],
    "PerformanceScore":[85,np.nan,90,80,45,98,np.nan,69]
}

df = pd.DataFrame(data)
print(df)

df['Salary'] = df['Salary'].interpolate(method="linear",inplace=True)
print(df)